<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edubotics.ai</title>
    <link rel="stylesheet" href="static/css/main.css" />
  </head>
  <body>
    <h1>Edubotics.ai</h1>
    <p class="center">Create an AI assistant for your class in minutes.</p>
    <form action="/create-instance" method="post">
      <label for="classNumber">Class Number:</label>
      <input type="text" id="classNumber" name="classNumber" /><br /><br />
      <label for="className">Class Name:</label>
      <input type="text" id="className" name="className" /><br /><br />
      <label for="instructorName">Instructor Name:</label>
      <input
        type="text"
        id="instructorName"
        name="instructorName"
      /><br /><br />
      <label for="classUrl">Class URL:</label>
      <input type="text" id="classUrl" name="classUrl" /><br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
