<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success</title>
    <link rel="stylesheet" href="static/css/main.css" />
  </head>
  <body>
    <h1>Success! Your assistant for {{ class_name }} has been created.</h1>
    <p>
      You can publish your assistant to HuggingFace Spaces by clicking the
      button below. Alternatively, you can edit the configuration of your
      assistant further by clicking the "Manage Assistant" button below.
    </p>
    <a href="/publish" class="button primary">Publish</a>
    <a href="/edit" class="button secondary">Manage Assistant</a>
  </body>
</html>
